@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/*   font-family: "Rubik", sans-serif;   */

:root {
	--For-back: 130px;
}

* {
	padding: 0;
	margin: 0;
	font-family: "Rubik", sans-serif;
}

input {
	border: none;
	background-color: transparent;
}

img {
	max-width: 100%;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	background-image: url("/asset/image/LaineNoir.png");
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-image: url("/asset/image/LaineNoir.png");
	padding: 14px 12px;
	gap: 3px;
}

main {
	padding: calc(var(--For-back) + 60px) 0px 0px 0px;
	min-height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

header > a {
	color: #ffffff;
	text-decoration: none;
}

.Logo_Container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 12px;
}

.Logo {
	width: 40px;
}

.Logo_text {
	color: white;
}

.LBLforSearch {
	width: 25%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 6px;
	padding: 12px 16px;
	border-radius: 9999px;
	background-color: white;
}

.INPtext {
	width: 100%;
	font-size: 16px;
	font-weight: 700;
	border: none;
	border-radius: 0px;
	padding: 2px 4px;
}

.BTNnormal {
	background-color: transparent;
	border: none;
}

.onlyTabletAndMore {
	display: none;
}

.ciel {
	position: absolute;
	z-index: -1;
	top: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: var(--For-back);
	background: linear-gradient(#d99457, #cd863e, #85aaed, #99d6e4);
}

.ciel img {
	width: 100%;
}

.terre {
	position: absolute;
	z-index: -1;
	top: var(--For-back);
	width: 100%;
	height: 300px;
	background-image: url("/asset/image/Terre.png");
	background-repeat: repeat-x;
}

.LinkSectHead a {
	text-decoration: none;
	color: white;
}

.LBLnormal {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 6px;
}

.selectPage {
	text-decoration: underline !important;
}

.card-main-body {
	width: 80%;
	background-color: white;
}

.yellow {
	background-color: #f5e2bc;
	border-left: solid 5px;
	border-color: #c2ac7f;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 10px;
	padding-top: 8px;
	padding-right: 12px;
	padding-bottom: 8px;
	padding-left: 12px;
}

.bold {
	font-weight: 600;
	font-size: 16px;
	font-family: "Rubik";
	font-style: SemiBold;
}

@media screen and (width > 767px) {
	.onlyMobile {
		display: none;
	}

	.onlyTabletAndMore {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 12px;
	}

	.LinkSectHead {
		gap: 20px;
	}

	.ciel img {
		width: 80%;
	}
}
@media screen and (width > 1023px) {
	.LinkSectHead {
		gap: 50px;
	}
}
