h1 {
	color: #3a3a3a;
	font-weight: 300;
	font-style: Light;
	font-size: 48px;
}

main {
	align-items: start;
}

caption {
	text-align: start;
}

table {
	width: 100%;
	border: 1px solid rgba(142, 142, 142, 1);
	background-color: #d9d9d9;
	border-collapse: collapse;
}

thead {
	background-color: #d9d9d9;
}

tbody {
	background-color: #ffffff;
}

th,
td {
	text-align: center;
	border-bottom: 1px solid rgba(142, 142, 142, 1);
	height: 47px;
}

td img {
	width: 24px;
	height: 24px;
}

.greyOnClose {
	background-color: rgba(219, 219, 219, 1) !important;
	color: rgba(142, 142, 142, 1) !important;
}

.mobPoAbso {
	position: absolute;
	top: calc(50% - 10px);
	right: calc(50% - 10px);
}

.divCoord {
	position: absolute;
	bottom: 50%;
	left: 50%;
	border: 1px solid rgba(242, 89, 89, 1);
	background-color: white;
	padding: 6px 12px;
}

.coord {
	display: flex;
}

.delete {
	padding: 4px;
	border-radius: 4px;
	background-color: rgba(242, 89, 89, 1);
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
}

.delete:hover {
	background-color: rgba(242, 89, 89, 0.7);
}

.open-or-close {
	text-align: center;
	padding: 4px 8px;
	color: white;
	font-size: 12px;
	font-weight: 700;
	width: max-content;
	border-radius: 8px;
}

.open {
	background-color: #4f8c69;
}

.close {
	background-color: rgba(242, 89, 89, 1);
}

.titre-arena-open {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 10px;
}

.card-main-body {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 24px;
	padding: 26px 30px;
	border-radius: 4px;
}

.formEntitieSpawn {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 24px;
}

.formEntitieSpawn div {
	width: 100%;
	display: grid;
	grid-template-columns: 90px 90px 90px;
	justify-content: space-between;
}

.formEntitieSpawn div div {
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 8px;
	color: rgba(58, 58, 58, 1);
	font-size: 14px;
}

.selectEntitie {
	background-color: rgba(255, 255, 255, 1);
	border: none;
	border-radius: 4px;
	padding: 4px;
}

.titleH3 {
	color: rgba(58, 58, 58, 1);
	font-size: 22px;
	font-weight: 500;
}

.hr {
	width: 100%;
	background-color: rgba(58, 58, 58, 1);
	border: none;
	height: 2px;
	border-radius: 2px;
}

.aren {
	position: relative;
	border: 1px solid rgba(140, 140, 140, 1);
	background-color: rgba(255, 255, 255, 1);
	height: 142px;
	width: 100%;
}

@media screen and (width > 767px) {
	.formEntitieSpawn div {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 18px;
	}
}
