span {
	font-weight: 400;
	font-size: 16px;
}

h2 {
	font-weight: 500;
	font-size: 22px;
}

h1 {
	font-weight: 300;
	font-size: 48px;
}

a {
	color: #0246f1;
	text-decoration-thickness: 20%;
}

.card-main-body {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 24px;
	padding: 27px;
	border-radius: 12px;
}

.section-card-body-rules {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 24px;
}

.petitPara {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 4px;
}

.petitPara p {
	color: #3a3a3a;
}

.thick {
	font-weight: 600;
}

.LikeAfooter {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 10px;
}

.LikeAfooter hr {
	width: 100%;
}

@media screen and (width > 767px) {
	.card-main-body {
		padding: 30px 40px;
	}
}

@media screen and (width > 1023px) {
	.card-main-body {
		padding: 40px;
	}
}
